<router-outlet>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-12">
        <div class="text-center">
          <h1>Podomoro clock</h1>
        </div>
        <app-time-box></app-time-box>
        <app-times-configure></app-times-configure>
        <footer class="col-12 text-center pt-5">
          Made with
          <span aria-label="love" role="img"> ♥ </span>
          <span>by </span>
          <a href="https://github.com/nathangobinet/learning-angular-and-ts" target="_blank" rel="noopener noreferrer">Nathan Gobinet</a>
        </footer>
      </div>
    </div>
  </div>
</router-outlet>